* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: Helvetica;
}

body, html {
	height: 100%;
	font-family: Helvetica;
}

/*---------------------------------------------*/
a {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.7;
	color: white;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}
.txt1 > a {
  color: black;
}
a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #6AC042);
  color: -o-linear-gradient(left, #21d4fd, #6AC042);
  color: -moz-linear-gradient(left, #21d4fd, #6AC042);
  color: linear-gradient(left, #21d4fd, #6AC042);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}



/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
Initial Data Entry Point */

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 97px 55px 73px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
Form*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding: 22px;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
Input */

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-size: 15px;
  color: #277CB8;
  line-height: 1.2;
  font-family: Helvetica;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #6AC042);
  background: -o-linear-gradient(left, #21d4fd, #6AC042);
  background: -moz-linear-gradient(left, #21d4fd, #6AC042);
  background: linear-gradient(left, #21d4fd, #6AC042);
}

.focus-input100::after {
  font-family: Helvetica;
  font-size: 15px;
  color: #277CB8;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;
  font-family: Helvetica;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #6AC042);
  color: -o-linear-gradient(left, #21d4fd, #6AC042);
  color: -moz-linear-gradient(left, #21d4fd, #6AC042);
  color: linear-gradient(left, #21d4fd, #6AC042);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #6AC042);
  color: -o-linear-gradient(left, #21d4fd, #6AC042);
  color: -moz-linear-gradient(left, #21d4fd, #6AC042);
  color: linear-gradient(left, #21d4fd, #6AC042);
}



/*------------------------------------------------------------------
Initiate Button */
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;

  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #6AC042, #21d4fd, #6AC042);
  background: -o-linear-gradient(right, #21d4fd, #6AC042, #21d4fd, #6AC042);
  background: -moz-linear-gradient(right, #21d4fd, #6AC042, #21d4fd, #6AC042);
  background: linear-gradient(right, #21d4fd, #6AC042, #21d4fd, #6AC042);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
Responsive */

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/* HELP SECTION, BOTTOM */ 
.text-center {
  text-align: center!important;
  text-decoration: none;
}

.p-t-115 {
  padding-top: 90px;
  text-decoration: none;
}

/* Scenario cards */

.items{
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.item button{
  border-radius: 4px;
  background-color:whitesmoke;
  border-width: thin;
  font-size: 8px;
  padding: 1.5px;
  display: flex;
  text-align: center;
  margin: auto;

}

.item{
  border: solid .3em;
  border-color: black;
  border-width: 1.5px;
  border-radius: 11px;
}

.item p{
  font-size: 12px;
}